{% extends "core/base.html" %}

{% block site_title %}

<h4>
    Training
</h4>

{% endblock site_title %}

{% block content %}
<h1 id="character-title">Character training</h1>
<hr>
{% if character %}
<p id="character-name">Name: {{character.name}}</p>
<p id="character-growth-points">Growth points: {{character.growth_points}}</p>
<p id="next-level-growth-point">Next level growth points: {{next_lvl}}</p>
    <form class="form-horizontal" id="startTraining" role="form" method="POST" action="{% url 'training_active' %}">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                 {% csrf_token %}
            </div>
        </div>
                <hr>
                <button type="submit" class="btn btn-success" {% if training_disabled %} disabled {%endif%}>Start training</button>
    </form>
{% else %}
<p>There is no character in the database</p>
{% endif %}

{% endblock %}
