{% extends "core/base.html" %}

{% block site_title %}

<h4>
    Training active
</h4>

{% endblock site_title %}

{% block content %}

<h1 id="character-title">Character training</h1>
<hr>

{% if character %}

<p id="character-name">Character name: {{character.name}}</p>
<p id="character-growth-point">Actual growth points: {{character.growth_points}}</p>
<p id="next-level-growth-point">Next level growth points: {{character.next_level}}</p>
<p id="training-start">Start training date: {{training.start_training_date}}</p>


<p>Time to the end of the training session: <span id="remaining_time"></span> seconds!</p>
<p>Number of completed training sessions: <span id="training_done_counter"></span></p>


<hr>
<form class="form-horizontal" name="stopTraining" id="stopTraining" role="form" method="POST" action="{% url 'training_ending' %}">
        <div class="row">
                 {% csrf_token %}
        </div>
        <button type="submit" class="btn btn-danger" id='stop_button'>End actual training session</button>
</form>

{% else %}

<p>There is no character in the database</p>

{% endif %}

<script>

var display_time = document.querySelector('#remaining_time');
var number_training_session = document.querySelector('#training_done_counter');
var trainings_done = {{ training_done_counter }};
var is_running = true;
var remaining_time = 20 - {{ actual_training_rest }};

number_training_session.textContent = trainings_done;

var runner = setInterval(function () {
    makeTimer();
}, 1000);

function makeTimer() {
    if (remaining_time < 0 && is_running === true) {

        number_training_session.textContent = ++trainings_done;
        remaining_time = 20;
    }
    if (remaining_time >= 0 && is_running === true) {

        display_time.textContent = remaining_time--;
    }
};

</script>

{% endblock %}
