{% extends "core/base.html" %}

{% block site_title %}

<h4>
    Statistics
</h4>

{% endblock site_title %}

{% block content %}
<h1 id="statistics-title">Character statistics:</h1>
{% if character %}
<p id="statistics-name">Name: {{character.name}}</p>
<p id="statistics-skill-point">Skill points: {{character.skill_points}}</p>
<p id="statistics-lvl">Level: {{character.level}}</p>
<p id="statistics-hp">Health: {{character.health_points}}</p>
<p id="statistics-force">Force: {{character.force}}</p>
{% else %}
<p>There is no player in the database</p>
{% endif %}

{% endblock %}
