{% load nav %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Andorra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto" id="navigation-list">

            {% nav 'journeys' 'Journeys' %}
            {% nav 'training_start' 'Training' %}
            {% nav 'statistics' 'Statistics' %}
            {% if not user.is_authenticated %}
                {% nav 'login' 'Log in' %}
                {% nav 'signup' 'Register' %}
            {% endif %}
            {% if user.is_authenticated %}
                {% nav 'logout' 'Log out' %}
            {% endif %}

        </ul>

    </div>
</nav>
