{% extends "core/base.html" %}

{% block site_title %}

<h4>
    Journeys
</h4>

{% endblock site_title %}

{% block content %}
  {% if active_journey is not None %}
  <input type="hidden" id="timer-wrapper" name="variable" value="{{ active_journey.end_date | date:'c' }}">
  <ul id="countdown-1" class="countdown" style="list-style: none;">You'll have to wait another:
    <!-- <li><span id="days"></span></li>
    <li><span id="hours"></span></li>
    <li><span id="minutes"></span></li> -->
    <li><span id="seconds"></span></li>
  </ul>
  <script>
    var timerWrapper = document.getElementById("timer-wrapper").value;
    function makeTimer() {
      var endTime=new Date(timerWrapper);
      endTime = (Date.parse(endTime) / 1000);

      var now = new Date();
      now = (Date.parse(now) / 1000);

      if (now > endTime) {
        location.reload();
      }

      var timeLeft = endTime - now;

      var days = Math.floor(timeLeft / 86400);
      var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
      var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
      var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

      if (hours < "10") { hours = "0" + hours; }
      if (minutes < "10") { minutes = "0" + minutes; }
      if (seconds < "10") { seconds = "0" + seconds; }

      // $("#days").html(days + "<span> Days</span>");
      // $("#hours").html(hours + "<span> Hours</span>");
      // $("#minutes").html(minutes + "<span> Minutes</span>");
      $("#seconds").html(seconds + "<span> Seconds</span>");

      if (seconds == 0) {
        location.reload();
      }
    }

    var runner = setInterval(function() {
      makeTimer();
    }, 1000);
  </script>
  {% endif %}
  

  
  <h1 id="journey-title">Available journeys</h1>
  <p>Below you can see available journeys list</p>
  <h2>Journeys:</h2>
    {% for journey in journeys %}
    <form class="success" id="form-id" action="journey-active" method="post">
      <input type="hidden" name="journey_id" value="{{journey.slug}}">
      <a class="nav-link"  id="form-link" style="cursor: pointer">{{journey.name}}</a>
      <button  type="submit" class="start" {% if active_journey is not None %}disabled{% endif %}>Start</button>
      {% csrf_token %}
    </form>
    {% endfor %}
{% endblock %}
