{% extends "core/base.html" %}
<!-- Etykieta strony -->
{% block site_title %}

<h4>
    Main page
</h4>

{% endblock site_title %}

<!-- Zawartość strony -->
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <p>
            <h2>
                Welcome to the game!
                <br />
            </h2>
            <h4>
                <small>
                    <em>
                        Log in or create a new account to proceed.
                    </em>
                </small>
            </h4>
        </p>
    </div>
</div>

{% endblock content %}