{% extends "core/base.html" %}
<!-- Etykieta strony -->
{% block site_title %}

<h4>
    Main page
</h4>

{% endblock site_title %}

<!-- Zawartość strony -->
{% block content %}
{% if not user.is_authenticated %}
<div class="row">
    <div class="col-sm-12">
        <p>
            <h2>
                Welcome to the game!
                <br />
            </h2>
            <h4>
                <small>
                    <em>
                        Log in or create a new account to proceed.
                    </em>
                </small>
            </h4>
        </p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <p>
            <h2>
                Welcome
                {{user.username}}
                !
                <br />
            </h2>
            <h4>
                <small>
                    <em>
                        Select one of the above options in MENU.
                    </em>
                </small>
            </h4>
        </p>
    </div>
</div>

{%endif%}
{% endblock content %}