{% extends "core/base.html" %}

{% block site_title %}

<h4>
    Journeys
</h4>

{% endblock site_title %}

{% block content %}
  <h1 id="journey-title">Available journeys</h1>
  <p>Below you can see available journeys list</p>
  <h2>Journeys:</h2>
    {% for key, value in dictionary.items %}
    <form class="success" id="form-id" action="journey-active" method="post">
      <a class="nav-link"  id="form-link" style="cursor: pointer">{{key}}: {{value}}</a>
      <button  type="submit" class="start">Start</button>
      {% csrf_token %}
    </form>
    {% endfor %}
{% endblock %}
