{% extends "core/base.html" %}

{% block site_title %}

<h4>
    Statistics
</h4>

{% endblock site_title %}

{% block content %}
<h1 id="statistics-title">Player statistics:</h1>
{% if player %}
<p id="statistics-name">Name: {{player.name}}</p>
<p id="statistics-exp">Actual exp: {{player.actual_exp}}</p>
<p id="statistics-lvlexp">Next level exp: {{player.next_level_exp}}</p>
<p id="statistics-level">Level: {{player.level}}</p>
<p id="statistics-hp">Health: {{player.health}}</p>
<p id="statistics-str">Strength: {{player.strength}}</p>
{% else %}
<p>There is no player in the database</p>
{% endif %}

{% endblock %}
